body {
	background: linear-gradient(-45deg, #000000, #FF0000, #00FF00, #0000FF);
	background-size: 400% 400%;
	animation: gradient 150s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
